// Colors
$brand-primary: #5c7a6a;
$tea-green: #ceebd1;
$moss-green: #b6dea9;
$green: #5c7a6a;
$ash-grey: #aebfaf;
$silver: #a6ada7;
$white: #ffffff;
$black: #333333;

$dirty-polaroid: #f0efe8;

$raleway: 'Raleway', sans-serif;
$im-fell-dw: 'IM Fell DW Pica SC', serif;

$body-font: $raleway;
$title-font: $im-fell-dw;

$fa-font-path:          '~font-awesome/fonts';

$hamburger-layer-color: $white;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-border-radius: 2px;
