header.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  transition: .5s;
  background-color: $black;
  color: $white;
  z-index: 99;

  .container, .row {
    height: 100%;
  }

  a.brand {
    font-size: 2em;
    font-variant: small-caps;
    text-decoration: none;
    font-weight: normal;
    font-family: $title-font;
    color: $white;
  }

  .hamburger {
    display: none;

    .hamburger-inner {
      box-shadow: 1px 1px 2px $silver;

      &:before, &:after {
        box-shadow: 1px 1px 2px $silver;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

nav.nav-primary {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 50px;
  a {
    text-decoration: none;
    color: $white;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > li {
      display: block;
      position: relative;
      margin: 0 20px;

      &:last-child {
        margin-right: 0;
      }

      > a {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        position: relative;

        &:after {
          content: "";
          background-color: $ash-grey;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          opacity: 0;
          transition: .5s;
          transform: translateY(5px);
        }

        &:hover {
          &:after {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }

      ul.sub-menu {
        display: block;
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        border-top: 2px $ash-grey solid;
        background-color: $dirty-polaroid;
        box-shadow: 2px 2px 2px rgba(0,0,0,.25);
        opacity: 0;
        transform: translateY(-5px);
        transition: transform .5s, opacity .5s;
        z-index: 99;

        li {
          margin: 0;
          padding: 0;

          a {
            color: $black !important;
            padding: 10px;
            white-space: nowrap;
            width: 100%;
            height: auto;
            line-height: 1;
            display: block;

            &:hover {
              background-color: rgba($silver, .3);
            }

            &:after {
              display: none;
            }
          }
        }
      }

      &:hover {
        a {
          &:after {
            opacity: 1;
            transform: translate(0);
          }
        }
        ul {
          transform: translateY(0);
          opacity: 1;
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header.banner {
    .hamburger {
      display: block;
    }
  }

  nav.nav-primary {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    transform: translate(0, -5px);
    transition: .5s;
    background-color: $black;
    margin: 0;

    ul {
      display: block;
      border-top: 1px $silver solid;

      > li {
        margin: 0;
        > a {
          height: auto;
          line-height: 1.2;
          display: block;
          padding: 10px 20px;
          border-bottom: 1px rgba($black, .2);

          &:after {
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }

      li.menu-item-has-children {

        ul.sub-menu {
          position: static;
          box-shadow: none;
          border-bottom: 1px rgba($black, .25) solid;
          transform: translate(0);
          display: none;
        }

        &:hover {
          ul.sub-menu {
            display: block;
            border-top: none;

            li a {
              padding: 10px 20px;
            }
          }
        }
      }
    }

    &.show {
      transform: translate(0);
      display: block;
    }
  }
}
